/*------------GLOBAL STYLES---------*/
body {
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    padding-top: 80px;
    /* to prevent content from being hidden behind fixed header */
    padding-left: 96px;
    /* to prevent content from being hidden behind fixed sidebar */
    padding-right: 24px;
    background-color: rgb(245, 245, 245);
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

/*-----------SIDEBAR STYLES-------- */
.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 55px;
    /* below the header */
    left: 0;
    width: 80px;
    background-color: white;
    height: 100%;

    align-items: center;
    justify-content: flex-start;
    /* justify-content: center; */
    text-align: center;
    padding-top: 20px;
}

.sidebar-link {
    /* background-color: lightgray; */
    height: 76px;
    width: 100%;
    cursor: pointer;
}

.sidebar-link:hover {
    background-color: #e0e0e0;
}

.sidebar-icon {
    height: 24px;
    margin-top: 12px;
    margin-bottom: 8px;
}

.sidebar-text {
    font-size: 10px;
    color: black;
    /* text-align: center; */
}


/*-----------HEADER STYLES-------- */

.header-container {
    display: flex;
    flex-direction: row;
    height: 55px;
    justify-content: space-between;
    position: fixed;
    /* width: 100%; */
    /* the "right: 0) stretches the container to width 100% */
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom: 1px solid #ccc;
    padding-right: 12px;
    z-index: 10;
    /* to appear above other content */
}

.left-side,
.middle,
.right-side {
    display: flex;
    align-items: center;
    justify-content: center;
    /* to center the search bar */

}

.left-side {
    align-items: center;
}

.hamburger-menu {
    height: 24px;
    /* margin-top: 15px; */
    margin-left: 24px;
    margin-right: 24px;
    /* vertical-align: middle; */
}

.youtube-logo {
    height: 20px;
}

.middle {
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 800px;

}

/*********AUTO GENERATED - SEARCH BAR STYLES ***********/
/* .search-bar { */
/* height: 40px; */
/* flex: 1; */
/* width: 500px; */
/* margin-top: 10px; */
/* vertical-align: middle; */
/* border: 1px solid #ccc; */
/* border-radius: 2px 0 0 2px; */
/* padding: 0 10px; */
/* font-size: 16px; */
/* } */
/********* END OF AUTO GENERATED - SEARCH BAR STYLES ***********/

.search-bar {
    font-size: 16px;
    flex: 1;
    height: 36px;
    border: 1px solid #ccc;
    width: 0;
    /* to make searchbox shrink all the way */
    max-width: 400px;
    /* to limit the maximum width of the search box */
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}

.search-bar::placeholder {
    /* :: targets a pseudo class  */
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    padding-left: 10px;
}

.search-button {
    position: relative;
    height: 40px;
    width: 66px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    margin-left: -1px;
    margin-right: 10px;
    cursor: pointer;
    /**** Flexbox method option to center the icon inside the button ****/
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /**** End of Flexbox method ****/
}

.search-button .tooltip {
    position: absolute;
    background-color: gray;
    color: white;
    padding: 4px 8px 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    bottom: -30px;
    visibility: hidden;
    /* Hidden by default and visbile on Hover */
    opacity: 0.65;
    transition: opacity 0.15s;
    pointer-events: none;
    /* to prevent tooltip from interfering with hover */
    white-space: nowrap;
    /* to prevent tooltip text from wrapping */
}

.search-button:hover .tooltip {
    visibility: visible;
    /* opacity: 0.65; */
    /* Uncommented to make tooltip visible, if using the opacity technique to show tooltip */
}

.search-icon {
    margin-top: 4px;
    /* to center the icon inside the button */
    height: 25px;

}

.voice-search-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-style: none;
    background-color: rgb(245, 245, 245);
    cursor: pointer;
    border-radius: 20px;
}

.voice-search-button .tooltip {
    position: absolute;
    background-color: gray;
    color: white;
    padding: 4px 8px 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    bottom: -30px;
    visibility: hidden;
    /* Hidden by default and visbile on Hover */
    opacity: 0.65;
    transition: opacity 0.15s;
    pointer-events: none;
    /* to prevent tooltip from interfering with hover */
    white-space: nowrap;
    /* to prevent tooltip text from wrapping */
}

.voice-search-button:hover .tooltip {
    visibility: visible;
    /* opacity: 0.65; */
    /* Uncommented to make tooltip visible, if using the opacity technique to show tooltip */
}

.voice-search-icon {
    height: 26px;
}


.right-side {
    /* display: flex;*/
    /* Repeated from above. DELETE*/
    align-items: center;
    justify-content: space-between;
    width: 180px;
    flex-shrink: 0;
    /* background-color: lightblue; */

}

.upload-icon,
.apps-icon,
.notifications-icon,
.current-user-pic {
    height: 24px;
    margin-right: 20px;
    cursor: pointer;
}

.notifications-icon-container {
    position: relative;
    /* z-index: 5; */
}

.notification-badge {
    position: absolute;
    top: -2px;
    right: 18px;
    background-color: red;
    color: white;
    font-size: 10px;
    font-weight: bold;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* z-index: 1; */
}


.current-user-pic {
    border-radius: 50%;
    height: 32px;
}



/*-----------VIDEO CARDSTYLES--------*/
.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

@media (max-width: 750px) {
    .search-bar {
        visibility: hidden;
    }

    .search-button,
    .voice-search-button {
        border: none;
        background-color: transparent;
    }

    .video-grid {
        grid-template-columns: 1fr 1fr;
        /* 2 columns for small screens */
    }
}

@media (min-width: 751px) and (max-width: 1200px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
        /* 3 columns for medium screens */
    }
}

.thumbnail-row {
    margin-bottom: 8px;
    position: relative;
    z-index: 5;
}

.video-time {
    position: absolute;
    bottom: 10px;
    right: 8px;
    background-color: black;
    color: white;
    padding: 2px 4px;
    font-size: 12px;
    border-radius: 2px;
    opacity: 0.8;
    font-weight: 500;
    opacity: 0.65;
    border-radius: 3px;
    z-index: 1;
}

.thumbnail {
    width: 100%;
    border-radius: 12px;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.channel-picture {
    width: 50px;
}

.profile-picture {
    width: 36px;
    border-radius: 50%;
}

.video-title {
    margin: 0px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 12px;
}

.video-author,
.video-stats {
    font-size: 12px;
    color: rgb(96, 96, 96);
}

.video-author {
    margin-bottom: 4px;
}